:root{
    padding: 0%;
    margin: 0;
   
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: "Robot" sans-serif;
        padding: 0px;
        margin: 0px;
    }

    .navbar{ 
        background-color:#000;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid gold;

    }


    .navbar .navbar-nav .nav-link {
        font-size: larger;
        color: white;
    }
    
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.focus,
    .navbar .navbar-nav .nav-link:hover{
    
    color: gold;
    }
    
    .navbar .navbar-toggler{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
       
        border-color: white;
    }
    .navbar .navbar-toggler:focus{
        box-shadow: none;
    }


    .social-links a {

        text-decoration: none;
        
    }

   
    .social-links a i{
        color: gold;
        font-size: 30px;
        margin-left: 30px;
        padding: 10px;
        transition: all ease-in-out .3s;
        text-decoration: none;
        direction: none;
    }  
    .social-links a i:hover{
        color: gold;
        transform: scale(2.5);
        transition: 0.3s ease-in-out ;
    }
    .navbar-brand:hover{
    color: gold;
    transform: scale(1.4);
    transition: 0.4s ease-in-out;
    padding: 15px;
    }

    

    .hero-sec{
        height: (100-27);
        background-color: black;
        background-size: cover;
        background-position: top;
        color: white;
        border-bottom: 7px solid gold
    
    }
    .hero-sec .cotaniner{
        width: 85%;
        margin: auto;
        display:  flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }
    
    .hero-sec .cotaniner .div-tekst{
        width: 50%;
    }
     h1{
        color: white;
        font-size: 70px;
        margin-bottom: 10px;
    }
    
     span{
        font-size: 40px;
        color: gold;
    }
    p{
        color: #c8c6c6;
        font-size: 18px;
        margin: 10px 0 50px;
        line-height: 1.7;
    }
    
    .hero-sec img{
    
        width: 600px;
        height: 85vh;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
    }
    
    .cv button{
        background-color: gold; 
        width: 150px;
        height: 50px;
        text-transform: none;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        border-radius: 10px;
        margin: 0px;
        position: absolute;
    }
    
    .cv button:hover{
        background-color: black;
        color: #e2e2e2;
        transition: 0.5s;
    }

    main{
        
    }
    #about{
        display: flex;
       justify-content: center;
       align-items: center;
    }
    .container2{
        max-width: 1500px;
        margin: auto;
        padding: 0 2rem;
        margin: 100px;
    
    }

    #about h2{
    font-size: 50px;
    color:black ;
    font-weight: 600px;
    letter-spacing: 1px;
    }
    #about hr{
        width: 100px;
        height: 7px;
        background-color: gold;
        border: none;
        margin: 5px auto 0;
    }


       footer{
            background-color: #000;
            margin-top: 70px;
            padding: 50px 0;
            display: flex;
            justify-content: center;
            align-items: center; 
             flex-wrap: wrap;
             border-top: 5px solid gold;

          }
          
          footer .container {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            flex-wrap: wrap;
          }
          
          footer .container img {
            margin-bottom: 2px;
            
          }
          
          footer form {
         margin-bottom: 20px;
         margin-left: 0px;
          width: 100%;
          }
          
          footer form label {
            display: block;
            margin-bottom: 5px;
          }
          
          footer form input,
          footer form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
          }
          
          footer form button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
          
          footer form button:hover {
            background-color: #0056b3;
          }
          
          footer p {
            margin: 0;
            color: #6c757d;
          }


          .form-group{
            padding: 0px;
          }

         footer h3{
           display: flex;
           justify-content: center;
           align-items: center;
            margin-bottom: 20px;
           color: white;
          }

         
          footer span{
           color: white;
           font-size: medium;
           padding: 1px;
           padding-left: 2px;
          }


          .copy-right{
            display: flex;
            justify-content: center;
            align-items: center;
          }

          


          .social-links2 a {

            text-decoration: none;
        }
        .social-links2 a i{
            display: inline-flex;
            justify-content: center;
            margin: 10px;
            padding: 70px;
            align-items: center;
            color: gold;
            font-size: 30px;
            transition: all ease-in-out .3s;
            direction: none;
        }  
        .social-links2 a i:hover{
            color: gold;
            transform: scale(1.9);
            transition: 0.3s ease-in-out ;
        }


        .scroll-up{
            background-color: #000;
            position: fixed;
            bottom: 30px;
            right: 20px;
            font-size: 40px;
            color: gold;
            padding: 2px 15px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        
        }

        .logo2 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            z-index: 999;
        }

        .logo2 :hover{
            font-size: large;
            color: gold;
            transform: scale(1.4);
            transition: 0.4s ease-in-out;
            padding: 10px;
        }
    















    @media screen and (max-width:426px) {
        .hero-sec{
            display: flex;
            height: 75vh;
            padding: 0px;
            margin: 0px;
        }
        .hero-sec img{
            display: none;
         }
         .social-links{
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .social-links a i{
            color: gold;
            font-size: 30px;
            margin-left: auto;
            margin-left: auto;
            padding: 25px;
         }


        .navbar .navbar-toggler{
            width: 15% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size:20px;
            border-color: white;
            
        }

        .navbar-nav .nav-item a{
            padding-top: 30px;
            padding-left: 30px;
           
        }
          

           
        .navbar-brand:hover{
            color: gold;
            transform: scale(1.1);
            transition: 0.4s ease-in-out;
           
            }

            .hero-sec{
             display: flex;
             justify-content: center;
             align-items: center;

             
            }
            .hero-sec .cotaniner{
                width: 85%;
                margin: auto;
                padding: 160px;
                display:  flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            
            }
            
            .hero-sec .cotaniner .div-tekst{
                width: 50%;
            }
             h1{
                color: white;
                font-size: 70px;
                margin-bottom: 8px;
            }
            
             span{
                font-size: 40px;
                color: gold;
            }
            p{
                color: #c8c6c6;
                font-size: 18px;
                margin: 10px 0 50px;
                line-height: 1.7;
          }  

          .container{
            display: block;
          }

          
         .social2-links{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left:auto ;
            margin-right: auto;
         }



         .social-links2 a i{
            color: gold;
            font-size: 30px;
            padding: 20px;
            margin: 18px;
          
         }

        .social-links2 a i:hover{
            color: gold;
            transform: scale(2.5);
            transition: 0.3s ease-in-out ;
        }

        .scroll-up{
            position: fixed;
            bottom: 30px;
            font-size: 30px;
            color: gold;
            border-radius: 3px;
            box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
        
        }    

        #about h4{
            margin: 20px;
        }
        #about h4 p{
            line-height: 1.6em;
            justify-self: center;
            font-size: 30px;
        }
        }





        



        @media only screen and (min-width: 426px) and (max-width: 750px){

            .hero-sec{
                display: flex;
                height: 75vh;
                padding: 0px;
                margin: 0px;
            }
            .hero-sec img{
                display: none;
             }
             .social-links{
                display: flex;
                justify-content: center;
                align-items: center;
             }
             .social-links a i{
                color: gold;
                font-size: 30px;
                margin-left: auto;
                margin-left: auto;
                padding: 25px;
             }
    
    
            .navbar .navbar-toggler{
                width: 15% !important;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size:20px;
                border-color: white;
                
            }
    
            .navbar-nav .nav-item a{
                padding-top: 30px;
                padding-left: 30px;
               
            }
              
    
               
            .navbar-brand:hover{
                color: gold;
                transform: scale(1.1);
                transition: 0.4s ease-in-out;
               
                }
    
                .hero-sec{
                 display: flex;
                 justify-content: center;
                 align-items: center;
    
                 
                }
                .hero-sec .cotaniner{
                    width: 85%;
                    margin: auto;
                    padding: 160px;
                    display:  flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                
                }
                
                .hero-sec .cotaniner .div-tekst{
                    width: 50%;
                }
                 h1{
                    color: white;
                    font-size: 70px;
                    margin-bottom: 8px;
                }
                
                 span{
                    font-size: 40px;
                    color: gold;
                }
                p{
                    color: #c8c6c6;
                    font-size: 18px;
                    margin: 10px 0 50px;
                    line-height: 1.7;
              }  
    
              .container{
                display: block;
              }
    
              
             .social2-links{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left:auto ;
                margin-right: auto;
             }
    
    
    
             .social-links2 a i{
                color: gold;
                font-size: 30px;
                padding: 20px;
                margin: 18px;
              
             }
    
            .social-links2 a i:hover{
                color: gold;
                transform: scale(2.5);
                transition: 0.3s ease-in-out ;
            }
    
            .scroll-up{
                position: fixed;
                bottom: 130px;
                right: 20px;
                font-size: 30px;
                color: gold;
                padding: 5px 12px;
                border-radius: 5px;
                box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
            
            }    
    
            #about h4{
                margin: 20px;
            }
            #about h4 p{
                line-height: 1.6em;
                justify-self: center;
                align-items: center;
                font-size: 30px;
            }
            }








            @media only screen and (min-width: 755px) and (max-width: 1200px){

   
                .hero-sec{
                    display: flex;
                    height: 75vh;
                    padding: 0px;
                    margin: 0px;
                }
                .hero-sec img{
                    display: none;
                 }
                 .social-links{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                 }
                 .social-links a i{
                    color: gold;
                    font-size: 30px;
                    margin-left: auto;
                    margin-left: auto;
                    padding: 25px;
                 }
        
        
                .navbar .navbar-toggler{
                    width: 15% !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size:20px;
                    border-color: white;
                    
                }
        
                .navbar-nav .nav-item a{
                    padding-top: 30px;
                    padding-left: 30px;
                   
                }
                                     
                .navbar-brand:hover{
                    color: gold;
                    transform: scale(1.1);
                    transition: 0.4s ease-in-out;
                   
                    }
        
                    .hero-sec{
                     display: flex;
                     justify-content: center;
                     align-items: center;
        
                     
                    }
                    .hero-sec .cotaniner{
                        width: 85%;
                        margin: auto;
                        padding: 160px;
                        display:  flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    
                    }
                    
                    .hero-sec .cotaniner .div-tekst{
                        width: 50%;
                    }
                     h1{
                        color: white;
                        font-size: 70px;
                        margin-bottom: 8px;
                    }
                    
                     span{
                        font-size: 40px;
                        color: gold;
                    }
                    p{
                        color: #c8c6c6;
                        font-size: 18px;
                        margin: 10px 0 50px;
                        line-height: 1.7;
                  }  
        
                  .container{
                    display: block;
                  }
        
                  
                 .social2-links{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left:auto ;
                    margin-right: auto;
                 }
        
        
        
                 .social-links2 a i{
                    color: gold;
                    font-size: 30px;
                    padding: 20px;
                    margin: 18px;
                  
                 }
        
                .social-links2 a i:hover{
                    color: gold;
                    transform: scale(2.5);
                    transition: 0.3s ease-in-out ;
                }
        
                .scroll-up{
                    position: fixed;
                    bottom: 130px;
                    right: 20px;
                    font-size: 30px;
                    color: gold;
                    padding: 5px 12px;
                    border-radius: 5px;
                    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
                
                }    
        
                #about h4{
                    margin: 20px;
                }
                #about h4 p{
                    line-height: 1.6em;
                    justify-self: center;
                    align-items: center;
                    font-size: 30px;
                }
                }




                


    
    
    
    
    
    